$color2: #050000;
$color3: #ffffff;


.topnav {
  width: 20%;
  height: 64px;
  position: absolute;
  top: 2px;
  right: 5px;
  @media only screen and(max-width:600px) {
    position: absolute;
    top: 60px;
    right: 5%;
    width: 90%;
  }
  #search-input {
    box-sizing: border-box;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 17px;
    background: $color3;
    height: 40px;
    color: $color2;
  }
}
