$color2: #050000;
$color3: #ffffff;
$color6: #052281;
$color8: #b7d5fc;

@mixin text-shadow($px1, $px2, $px3, $px4, $px5, $px6) {
    text-shadow: $px1 $px2 $px3 rgb(236, 235, 235),
      $px4 $px5 $px6 rgba(216, 213, 213, 0.15);
  }
  @mixin box-shadow($px1, $px2, $px3, $px4) {
    -webkit-box-shadow: $px1 $px2 $px3 $px4 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: $px1 $px2 $px3 $px4 rgba(0, 0, 0, 0.75);
    box-shadow: $px1 $px2 $px3 $px4 rgba(0, 0, 0, 0.75);
  }
 

.story-card {
    width: 100%;
    margin: 0 auto;
    .card {
      background: $color6;
      @include box-shadow(12px, 9px, 29px, 0px);
    }
    .story-title {
      color: $color8;
      @include text-shadow(1px, 1px, 0px, 4px, 2px, 0px);
      &:visited{
       
      }
    }
    .author,
    .score,
    .comments,
    .close-comments {
      font-size: 1.2em;
      color: $color3;
    }
    
    .comments,
    .close-comments {
      cursor: pointer;
      &:hover {
        color: $color2;
      }
    }
    .comments{
      text-transform: lowercase;
      text-transform: capitalize;
    }
    .close-comments {
      margin-left: 5%;
    }
  }
  .load-more{
    cursor:pointer;
    display:block;
    margin:10px auto;
    font-size: 1.3em;
  }