.story-card {
  width: 100%;
  margin: 0 auto; }
  .story-card .card {
    background: #052281;
    -webkit-box-shadow: 12px 9px 29px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 9px 29px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 9px 29px 0px rgba(0, 0, 0, 0.75); }
  .story-card .story-title {
    color: #b7d5fc;
    text-shadow: 1px 1px 0px #ecebeb, 4px 2px 0px rgba(216, 213, 213, 0.15); }
  .story-card .author,
  .story-card .score,
  .story-card .comments,
  .story-card .close-comments {
    font-size: 1.2em;
    color: #ffffff; }
  .story-card .comments,
  .story-card .close-comments {
    cursor: pointer; }
    .story-card .comments:hover,
    .story-card .close-comments:hover {
      color: #050000; }
  .story-card .comments {
    text-transform: lowercase;
    text-transform: capitalize; }
  .story-card .close-comments {
    margin-left: 5%; }

.load-more {
  cursor: pointer;
  display: block;
  margin: 10px auto;
  font-size: 1.3em; }
