$color6: #052281;
$color8: #b7d5fc;

.reply-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: auto;
  background: $color6;
  .reply-div {
    padding-left:20px;
    margin: 5px 0px 5px 0px;
    background: $color6;
    border-radius: 15px;
  }
   .rep-title {
     display:block;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: $color8;
    .timeago{
      font-size: 1rem;
    }
  }
  .reply-text {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: $color8;
  }
  
}
