.reply-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: auto;
  background: #052281; }
  .reply-container .reply-div {
    padding-left: 20px;
    margin: 5px 0px 5px 0px;
    background: #052281;
    border-radius: 15px; }
  .reply-container .rep-title {
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #b7d5fc; }
    .reply-container .rep-title .timeago {
      font-size: 1rem; }
  .reply-container .reply-text {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #b7d5fc; }
