$color1: #f5b0b0;
$color2: #050000;
$color3: #ffffff;
$color4: #ef5350;
$color5: #d1d1d1;
$color6: #052281;
$color7: #dee5ee;
$color8: #b7d5fc;

@mixin text-shadow($px1, $px2, $px3, $px4, $px5, $px6) {
  text-shadow: $px1 $px2 $px3 rgb(236, 235, 235),
    $px4 $px5 $px6 rgba(216, 213, 213, 0.15);
}
@mixin box-shadow($px1, $px2, $px3, $px4) {
  -webkit-box-shadow: $px1 $px2 $px3 $px4 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: $px1 $px2 $px3 $px4 rgba(0, 0, 0, 0.75);
  box-shadow: $px1 $px2 $px3 $px4 rgba(0, 0, 0, 0.75);
}

body {
  background: $color7;
}
#root{
  box-sizing: border-box;
}

.nav-wrapper,
.page-footer {
  background: $color6 !important;
}
#main-container {
  @media only screen and(max-width:600px) {
    margin-top: 64px;
  }
  h3 {
    color: $color6;
    @include text-shadow(2px, 2px, 0px, 7px, 6px, 0px);
  }
}

@import "reset";

