body {
  background: #dee5ee; }

#root {
  box-sizing: border-box; }

.nav-wrapper,
.page-footer {
  background: #052281 !important; }

@media only screen and (max-width: 600px) {
  #main-container {
    margin-top: 64px; } }

#main-container h3 {
  color: #052281;
  text-shadow: 2px 2px 0px #ecebeb, 7px 6px 0px rgba(216, 213, 213, 0.15); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular"; }
