$color1: #f5b0b0;
$color2: #050000;
$color3:#ffffff;
$color4:#26a69a;
$color6: #052281;
$color8: #b7d5fc;

.home-page{
  position:absolute;
  top:17px;
  right:2%;
  font-size: 1.3em;
  color:$color3;
}

.story-title-comments{
  padding:10px 0 10px 15px;
  a{
  color:$color3;
  font-size: 1.7rem;
  text-align: left;
  .story-url{
    font-size: 1rem;
  }
}
}
.comment-container {
    margin: 0 auto;
    margin-top:20px !important;
    background: $color6;
    padding-bottom: 5px;
    border-radius: 15px;
    .comment-div {
      width:100%;
      padding: 15px;
      margin: 10px auto;
      border-bottom:2px solid $color8;
    }
    .comment-div:last-child{
      border:none;
    }
  
    .title {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 15px;
      color: $color8;
      .timeago{
        font-size: 1rem;
      }
    }
    .comment-text {
      margin-bottom: 10px;
      color: $color8;
    }
    .comment-text {
      font-size: 1.1em;
    }
    .reply {
      cursor: pointer;
      color: $color8;
      font-size: 1.3em;
      &:hover {
        color: $color2;
      }
    }
    .waves-effect{
      margin:5px 0 5px 0;
      background-color:$color4;
     color:$color3;
     padding:2px;
    }
    .btn1 {
      margin-left: 5%;
    }
  }
  