.home-page {
  position: absolute;
  top: 17px;
  right: 2%;
  font-size: 1.3em;
  color: #ffffff; }

.story-title-comments {
  padding: 10px 0 10px 15px; }
  .story-title-comments a {
    color: #ffffff;
    font-size: 1.7rem;
    text-align: left; }
    .story-title-comments a .story-url {
      font-size: 1rem; }

.comment-container {
  margin: 0 auto;
  margin-top: 20px !important;
  background: #052281;
  padding-bottom: 5px;
  border-radius: 15px; }
  .comment-container .comment-div {
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    border-bottom: 2px solid #b7d5fc; }
  .comment-container .comment-div:last-child {
    border: none; }
  .comment-container .title {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 15px;
    color: #b7d5fc; }
    .comment-container .title .timeago {
      font-size: 1rem; }
  .comment-container .comment-text {
    margin-bottom: 10px;
    color: #b7d5fc; }
  .comment-container .comment-text {
    font-size: 1.1em; }
  .comment-container .reply {
    cursor: pointer;
    color: #b7d5fc;
    font-size: 1.3em; }
    .comment-container .reply:hover {
      color: #050000; }
  .comment-container .waves-effect {
    margin: 5px 0 5px 0;
    background-color: #26a69a;
    color: #ffffff;
    padding: 2px; }
  .comment-container .btn1 {
    margin-left: 5%; }
